.App { display: flex; height: 100%; }
main { flex: auto; overflow: auto; }
.drawer { display: flex; width:280px; }
.drawer > div { width:280px; }
.drawer > div > * { flex:none; }
.drawer > div > ul { padding: 0; }
.drawer > div > ul.navigation { flex: auto; }
.drawer .active { background:rgba(0,0,0,0.08); }

button.mainActionButton { position:absolute; bottom:24px; right:24px; }

.masonry-feed { padding:12px; box-sizing: border-box; }
.masonry-card, .grid-sizer { width:33.33%; }
.masonry-card { box-sizing: border-box; padding:12px; }
.masonry-card .MuiCardContent-root-130 { padding-top: 0; }
.masonry-card .MuiCardContent-root-130.MuiCardHeader-root-124 { padding-top: 16px; }
