.App { display: flex; height: 100%; }
main { flex: auto; overflow: auto; }
.drawer { display: flex; width:260px; }
.drawer > div { width:260px; }
.drawer > div > * { flex:none; }
.drawer > div > ul { padding: 0; }
.drawer > div > ul.navigation { flex: auto; }
.drawer .active { background:#eee; }